h1 {
  color: #ad144a;
  text-shadow: 2px 2px #9eedeb;
  font-size: 50px;
  font-family: 'Galada', cursive;
}

ul {
  text-align: center;

  list-style: none;
}

p{
  text-align: center;
}
body{
    background-image: url("seamless-repeating-background-6.jpg");
    font-size: 20px;
    font-family: 'Elsie Swash Caps', cursive;
    color: #333;
}
