@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua');
Marquee {
  color: #f4bcd0;
  text-shadow: 2px 2px #ff0000;
  font-size: 50px;
  font-family: 'Galada', cursive;
}
body{
    background-color: #daf2ea;
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
h2 {
  font-family: 'Glass Antiqua', cursive;
  font-size: 35px;
    text-shadow: 2px 2px #15a5a8;
    color: #003b3d;
}
h3 {
  font-size: 25px;
  font-family: 'Elsie Swash Caps', cursive;
}
p {
  font-size: 25px;
}
ul {
 list-style-type: none;
 }
